*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: #88888848;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
